{% extends "base.html" %}

{% block content %}

    <div id="myfilter"></div>
    <h1>Hello</h1>

    <script type="text/javascript">
        var fuelwatch_data = [];
        var filtered_data =[];
        var component_filter = {
            // Render HTML for Search functionality
            view: function()
                {
                return m("div",{
                    class:"container"
                    },
                    m("h4[style=color:#1f2328]",{
                        class: "text-muted"
                        },"Search Fuel Price"
                    ),
                    m("br"),
                    m("form",{
                        id:"myform"
                        },
                        m("p",{
                            class:"form-inline"
                            },
                            'FuelType: ',
                            m("input",{
                                type:"text",
                                name:"product_input",
                                class:"form-control",
                                placeholder:"Product name"
                                }
                            )
                        ),
                        m('p',{
                            class:"form-inline"
                            },
                            'MetroRegion: ',
                            m("input",{
                                type:"text",
                                name:"region_input",
                                class:"form-control",
                                placeholder:"Metro Region name"
                            }
                            )
                        ),
                        m("p",{
                            class:"form-inline"
                            },
                            'Tommorrow: ',
                            m("input",{
                                type:"checkbox",
                                name:"Tomorrow",
                                class:"form-check-input",
                                id:"Tommorrow"
                            }
                            )
                        ),
                        m("br"),
                        m("br"),
                        m("button", {
                                type:"submit",
                                class:"btn btn-primary",
                                onclick: function(e)
                                    {
                                        e.preventDefault();
                                        var url = '{% url 'mithrildata' %}' + '?' + $("#myform").serialize();
                                        console.log(url);
                                        $.get(url, function(json)
                                            {
                                                fuelwatch_data = json;
                                                console.log('sd',fuelwatch_data)
                                                m.redraw();  {# Refresh all Mithril content #}
                                            }
                                        );
                                        if (fuelwatch_data)
                                            {
                                                $("#filter_btn").removeAttr("disabled");
                                                console.log('Filter is enabled')
                                            }
                                    }
                            },"Submit"
                        ),
                        m("button", {
                            type:"submit",
                            class:"btn btn-primary",
                            id:"filter_btn",
                            value:"disable",
                            onclick:function filterdata(e)
                                {
                                    event.preventDefault();
                                    var filterprice = 130 ;
                                    console.log('Filterprice: ', filterprice);
                                    filtered_data = fuelwatch_data.filter(
                                        function(item)
                                            {
                                                return item.Price <= filterprice;
                                            }
                                        );
                                    fuelwatch_data = filtered_data;
                                    console.log('filter_data',filtered_data);
                                    m.redraw();
                                }
                        }, "Filter"
                        )
                    ), // Close form out
                    m("table.table.table-striped",
                        m ("thead.thead-dark",
                            m("tr",
                                m("th","Price"),
                                m("th","Location"),
                                m("th","Address"),
                                m("th","Phone"),
                                m("th","Brand"),
                                m("th", "Date")
                            )
                        ),
                        m("tbody",
                            fuelwatch_data.map(i=> m("tr",
                                m("td", i.Price),
                                m("td", i.Location),
                                m("td", i.Address),
                                m("td", i.Phone),
                                m("td", i.Brand),
                                m("td", i.Date)
                                )
                            )
                        )
                    )
                )
                }// Close mithril function
        };// Close mithril component
        // m.mount is used to activate mithril component
        m.mount(document.getElementById('myfilter'), component_filter);
    </script>
{% endblock %}
