{% extends "base.html" %}
{% block main %}

 <div class="container">
    <br>
 </div>
 <div id="myfilter"></div>


 <script type="text/javascript">

    var fuelwatch_data = [];
    var filter_data =[];

    var filter = {
                     // Render HTML for Search functionality
                    view: function()
                    {
                    return m("main",
                          [
                            m("div",{class:"container"},),
                            m("h4[style=color:#1f2328]",{ class: "text-muted"},"Search Fuel Price"),
                            m("br"),
                            m('div.form-group.col-sm-40 col-form-label',
                              m("form",{id:"myform"},
                              m("table.table-lg",
                                m('tr',    // Enter Product value
                                  m("div",{class:"form-group"},),
                                    m('td', {label :'Product',style:'font-weight: bold',},"Product"),
                                    m('td',m("input",{type:"text", name :"product_input",class:"form-control",placeholder:"Product name"})),
                                ),//table row
                                m('br'),
                                m('tr', // Enter Metro  value
                                  m("div",{class:"form-group"},),
                                    m('td', {label :'Metroregion',style:'font-weight: bold',},"Metro Region"),
                                    m('td',m("input",{type:"text", name:"region_input", class:"form-control",placeholder:"Metro Region name"})),
                                ),//table row
                                m('br'),
                                m('tr',
                                  m("div",{class:"form-check"},),
                                    m('td', {label :'Tommorrow',class:"form-check-label",},"Tomorrow"),
                                    m('td',m("input",{type:"checkbox", name:"Tomorrow", class:"form-check-input",id:"Tommorrow",})),
                                  ),//table row
                              ),//table
                              m("br"),
                              m("br"),
                              m("button", {type:"submit",class:"btn btn-primary",onclick:searchdata},"Submit"),
                              ' ',
                              ' ',
                              m("button", {type:"submit",class:"btn btn-primary",id:"filter_btn",value:"disable",onclick:filterdata}, "Filter"),
                              )//myform
                            ),//form division
                          m("table.table.table-striped",
                            m ("thead.thead-dark",
                                m("tr",
                                    m("th","Price"),
                                    m("th","Location"),
                                    m("th","Address"),
                                    m("th","Phone"),
                                    m("th","Brand"),
                                    m("th", "Date"),
                                  )
                              ),
                            m("tbody",fuelwatch_data.map(i=> m("tr",
                                m("td",  i.Price),
                                    m("td",  i.Location),
                                    m("td",  i.Address),
                                    m("td",  i.Phone),
                                    m("td",  i.Brand),
                                    m("td",  i.Date),)
                                  )
                              )

                          ),//table.table.table-striped
                        ]
                        )// view component main
                    },//mitrril view function
                  };//main


    $( document).ready(function()
    {
      $('#filter_btn').attr('disabled', 'disabled');
    });



    function searchdata(e)
     {
        //preventDefault to prevent browser to use/redirect new url
         event.preventDefault();
         var url = '{% url 'mithrildata' %}' + '?' + $("#myform").serialize();
         console.log(url);

         $.get(url, function(json)
            {
              fuelwatch_data = json;
              console.log('sd',fuelwatch_data)
              // m.redraw();  {# Refresh all Mithril content #}
            }
            );

          if (fuelwatch_data)
          {
            $("#filter_btn").removeAttr("disabled");
            console.log('Filter is enabled')
          }
      } //searchdata

    function filterdata(e)
     {
          event.preventDefault();
          
          Filterprice = 130 ;
          console.log('Filterprice',Filterprice)
          filter_data = fuelwatch_data.filter(
                                    function(item)
                                    {
                                     //return true
                                    return item.Price <= Filterprice;
                                    }
                                   );

          fuelwatch_data = filter_data;
          console.log('filter_data',filter_data)
          m.redraw();

      }

    // m.mount is used to activate mithril component and enable autodraw
    //m.mount or m.route ??
    m.mount(document.getElementById('myfilter'), filter);



  </script>
  {% endblock %}
