{% extends "base.html" %}
{% block main %}

<style media="screen">
  .pad {padding:10px;}
  .disptable{display:none;}
</style>

 <div class="container">
    <br>
 </div>
 <div id="fueldata"></div>


 <script type="text/javascript">

    var fuelwatch_data = [];
    var slider_lowval = 124;
    var slider_highval = 125;

    var filter = {
                    view: function(vnode)
                    {
                       // filter data by id_slider
                      var data = fuelwatch_data.filter(function(item){
                                                   //return filtered data between slider value range
                                                  return (item.Price >= slider_lowval && item.Price <= slider_highval);
                                                  console.log('data',data)
                                                  }
                                                 );
                      // Render HTML for Search functionality
                      return m("main",
                          [
                            m("div",{class:"container-fluid"},),
                            m("h4[style=color:#1f2328]",{ class: "text-muted"},"Search Fuel Price"),
                            m("br"),
                            m('div.form-group.col-sm-40 col-form-label',
                              m("form",{id:"myform"},
                              m("table.table-lg",
                                m('tr',    // Multi check box for Product
                                    m('td.pad', {label :'Product',style:'font-weight: bold',},"Product"),
                                    //name and value
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"1",id:"Unleaded Petrol"}),"Unleaded Petrol"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"2",id:"Premium Unleaded"}),"Premium Unleaded"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"4",id:"Diesel"}),"Diesel"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"5",id:"LPG"}),"LPG"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"6",id:"98 RON"}),"98 RON"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"7",id:"B20 diesel"}),"B20 diesel"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"8",id:"E10"}),"E10"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"9",id:"P100"}),"P100"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Product", value:"10",id:"E85"}),"E85"),
                                ),//table row product
                                m('tr', // Multi check box Metro  value
                                    m('td.pad', {label :'Metroregion',style:'font-weight: bold',},"Metro Region"),
                                    //name and value
                                    m('td.pad',m("input",{type :"checkbox", name:"Metroregion", value:"25",id:"North of River"}),"North of River"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Metroregion", value:"26",id:"Premium Unleaded"}),"South of River"),
                                    m('td.pad',m("input",{type :"checkbox", name:"Metroregion", value:"27",id:"Diesel"}),"East/Hills"),
                                ),//table row
                                m('tr',
                                    m('td.pad', {label :'Tommorrow',class:"form-check-label",style:'font-weight: bold',},"Tomorrow"),
                                    m('td.pad',m("input",{type:"checkbox", name:"Tomorrow", class:"form-check-input",id:"Tommorrow",})),
                                  ),//table row
                              ),//table
                              m("br"),
                              m("br"),
                              m("button", {type:"submit",class:"btn btn-primary",onclick:searchdata},"Submit"),
                              m("br"),
                              m("br"),
                              // non ui slider which will be created with default values at Mithril "oncreate" node event
                              m("div",{ id:"id_myslider",
                                  oncreate: function(vnode_local){
                                    // This is the same as doing ’document.getElementById(‘id_slider’) to get the element by id and change it;
                                    var myslider = vnode_local.dom;
                                    //slider will be created with default parameters
                                    noUiSlider.create(myslider,{
                                         start: [130, 150],
                                         connect: [true, true, true],
                                         tooltips: [ true, true ],
                                         range: { 'min': 119,'max': 190}
                                        });
                                    //
                                    myslider.noUiSlider.on('update', function (value){
                                      // Assign slider values to the state variables we use to track the price range to filter on
                                      slider_lowval = value[0];
                                      slider_highval = value[1];
                                     // Now that the state variables have been updated, get mithril to redraw the component
                                     m.redraw();
                                    });
                                  }
                                }
                              ), //slider
                              )//myform
                            ),//form division
                          m("table.table.table-striped",
                            m ("thead.thead-dark.disptable",
                                m("tr",
                                    m("th","Price"),
                                    m("th","Location"),
                                    m("th","Address"),
                                    m("th","Phone"),
                                    m("th","Brand"),
                                    m("th", "Date"),
                                    m("th", "Distance"),
                                  )
                              ),
                            m("tbody",data.map(i=> m("tr",
                                    m("td",  i.Price),
                                    m("td",  i.Location),
                                    m("td",  i.Address),
                                    m("td",  i.Phone),
                                    m("td",  i.Brand),
                                    m("td",  i.Date),
                                    m("td",  '10'),)
                                  )
                              )
                          ),//table.table.table-striped
                        ]
                        )// view component main
                    },//mitrril view function
                  };//main


    function searchdata(e){
        //preventDefault to prevent browser to use/redirect new url
         event.preventDefault();

         // url will be generated with the parameters
         var url = '{% url 'mithrildata' %}' + '?' + $("#myform").serialize();
         console.log(url);

         //get will pass the request to views.py
         $.get(url, function(json){
              fuelwatch_data = json;
              console.log('fd',fuelwatch_data)
              var price= fuelwatch_data.map(function(i){return i.Price});
              var sl_minrange = Math.min(...price);
              var sl_maxrange = Math.max(...price);

              $(".disptable").show();

              if (price.length > 0){
                var sl_stvalue = sl_minrange + 1;
                console.log('sm',sl_minrange,sl_stvalue)
                var sl_endvalue = sl_maxrange - 5;
                console.log('sm2',sl_maxrange,sl_endvalue)
              }

              //need to handle exception

              x= document.getElementById('id_myslider')
              x.noUiSlider.updateOptions({
                  start :[sl_stvalue,sl_endvalue],
                  range: {
                        min: sl_minrange,
                        max: sl_maxrange
                        }
                        }, true);


              m.redraw();  {# Refresh all Mithril content #}
            }
            );
      } //searchdata

    // m.mount is used to activate mithril component and enable autodraw
    //m.mount or m.route ??
    m.mount(document.getElementById('fueldata'), filter);



  </script>
  {% endblock %}
